@use "@angular/material" as mat;
@include mat.core();

html {
  //   color-scheme: light dark;
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Roboto,
      density: -5,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
